.container{
    margin:8px;
    border:1px solid lightgray;
    border-radius: 2px;
    width: 220px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.title{
    padding: 8px;
}

.tasklist{
    padding: 8px;   
}

.task_container{
    /* border:1px solid lightgrey; */
    border-radius: 2px;
    padding:8px;
    margin-bottom: 8px;
    background-color: white;
}